<section class='bio card mb-3'>
  <div class='card'>
    <div class='card-body'>
      <p>Full Name: <%=@user.fullname%></p>  
      <p>Email Address: <%=@user.email%></p>  
      <p>Sex: <%=@user.sex%></p>  
      <p>Date of brith: <%=@user.dob%></p>  
    <div>
  <div>
</section>
