<div class="container">
  <div class='row mt-4'>
    <div class="col-md-7">
      <h3>Facebook helps you connect and share with the people in your life.</h3>
      <div class='landing-banner mt-3'>
      </div>
    </div>
    <div class="col-md-5">
      <div class='new-user'>
        <%= render 'devise/registrations/form', resource: @user %>
      </div>
    </div>
  </div>
</div>
