<div class="container-fluid">
    <div class="col-md-7">
    <h3>Connect with friends and the
        world around <br> you on Facebook.</h3>
        <br>
    <h5>See photos and updates from friends in News Feed.</h5>
    <br>
    <h5>Share what's new in your life on your Timeline.</h5>
    <br>
    <h5 >Find more of what you're looking for with Facebook Search.</h5>
</div>
<div class="col-md-5">
	<h2>Sign Up</h2>
  <h4>It’s quick and easy.</h4>
	<%= render 'devise/registrations/form', resource: @user %>
</div>

