<form class="form-inline" action='#' method='post'>
  <div class="input-group">
    <input type="text" size='10' class="form-control-xs" placeholder="Search" aria-describedby="search_field">
    <div class="input-group-prepend scale-form-control-xs">
     <span class="input-group-text" id="search_field"><%=icon 'fas', 'search' %></span>
    </div>
  </div>
</form>
