<header id="navbar">
  <div class='container'>
    <nav class="navbar navbar-expand-sm navbar-inverse">
      <%= link_to app_name, root_path, class: "navbar-brand", title: 'Go to Home page' %>
      <% if user_signed_in? %>
        <%= render 'layouts/user_panel' %>
      <% else %>
        <%= render 'layouts/inline_login' %>
      <% end %>
    </nav>
  </div>
</header>
