<header class="navbar navbar-inverse">
  <div class="container-fluid" style="background-color: rgb(61, 91, 153);">
      <div class="col-md-6">
          <h1 style='color:white;padding-left:1em;'>the facebook</h1>
      </div>

      <% if user_signed_in? %>
        <%= render 'layouts/user_panel' %>
      <% else %>
        <%= render 'layouts/inline_login' %>
      <% end %>
  </div>
</header>
